@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700;900&display=swap');

:root{
    --dark-background-color:#454545;
    --title-colors:#FFA559;
    --text-colors:#FFA559;
    --btn-colors:#FF8C32;
    --title-two:#393646;
    --bg-opacity:#393647a4;

    --white-background:rgb(245, 243, 243);
    --white-opacyti:rgba(255, 255, 255, 0.808);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',Arial, Helvetica, sans-serif;
}
// em baixo css globais resiclavies
a{
    text-decoration: none;
    color: var(--text-colors);
}
.text_background{
    background-color: var(--title-colors);
    display: inline-block;
    padding: .30em .25em;
    color: #ffffff;
    text-transform: uppercase;
    font-size: clamp(.85em,6vw,1.2em);
    margin-top: 1.25em;
}
#nome{
    color: var(--text-colors);
    text-transform: uppercase;
}
// fim css resiclaveis
body{
    width: 100%;
    height: 100%;
}

.main_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-background);
    height: 50px;
    padding: 0 1.2em;
    position: fixed;
    z-index: 999;
    width: 100vw;
}

.main_header .logo_portfolio a{
    color: var(--text-colors);
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
}
.main_header .main_nav{
    display: flex;
}
.main_header .main_nav .menu_bar{
    margin: 0 20px 0 0;
    max-width: 30px;
}
.main_header .main_nav .menu_bar  span{
    border-top: 2px solid var(--title-colors);
    display: block;
    width: 30px;
    height: 2px;
    cursor: pointer;
}
// .main_header .main_nav .menu_bar  span::after{
//     content: '';
//     display: block;
//     height: 2px;
//     width: 30px;
//     background-color: var(--title-colors);
//     margin-top: 5px;
// }
.main_header .main_nav .menu_bar  span::before{
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    background-color: var(--title-colors);
    margin-top: 5px;
    cursor: pointer;
}
.main_header .main_nav .list_itens{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--white-background);
    width: 100%;
    list-style: none;
    gap: 20px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.main_header .main_nav .list_itens.open_menu{

    height: 35vh;
    overflow: auto;
    opacity: 1;
}
.main_header .main_nav .list_itens li a{
    color: var(--title-colors);
    font-size: 1.3em;
    margin: 0 0 0 20px;
    font-weight: 600;
}
// fim do header

.main_hero_baner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(45deg,rgba(0, 0, 0, 0.418),rgba(0, 0, 0, 0.397)),url('../img/background-portfolio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom top;
    width: 100%;
    min-height: 100vh;
}
.main_hero_baner .text_baner{
    background-color: var(--white-opacyti);
    padding: .70em 1.2em;
    color: #e9dbd1;
    margin: 0 .80em;

}
.main_hero_baner .text_baner h1{
    font-size: clamp(1.3em,6vw,1.5em);
    color: rgb(31, 30, 30);
}
.main_hero_baner .text_baner h2{
    color: var(--text-colors);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.main_hero_baner .btn_baner .btn_download{
    background-color: transparent;
    padding: .80em .70em;
    border: none;
    border-radius: 2px;
    margin-top: 1.4em;
    border: 1px solid var(--btn-colors);
    color: white;
    position: relative;
    z-index: 2;
}
.main_hero_baner .btn_baner .btn_download::after{
    content: '';
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .5s ease-in-out;
}
.main_hero_baner .btn_baner .btn_download:hover::after{
    width: 100%;
    background-color: var(--btn-colors);
}
.main_hero_baner .btn_baner .btn_download a{
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 2;
    position: relative;
}

.main_content{
    width: 100%;
}
.main_content .about_content{
    margin: 0 20px;
    border-bottom: 1px solid #FFA559;
}
.main_content .about_content .text_content h3{
   text-transform: capitalize;
}
.main_content .about_content .text_content p{
   text-indent: 10px;
   margin-top: .85em;
   margin-bottom: .85em;
   line-height: 1.8;
}
.main_content .skills_content{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.main_content .skills_content .cards_content{
    display: block;
}
.main_content .skills_content .cards_content .card_grid{
    width: 100%;
    box-shadow: 2px 6px 20px rgba(116, 116, 116, 0.603);
    margin: 20px 0;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    padding: .60em 0;
    
}
.main_content .skills_content .cards_content .card_grid .text_grid{
    text-transform: uppercase;
    background-color: white;
    color:var(--text-colors);
    padding: .45em .25em;
    font-size: clamp(.80em,6vw,.40em);
}
.main_content .skills_content .cards_content .card_grid .img_grid{
    max-width: 80px;
    min-height:80px ;
}
.main_content .skills_content .cards_content .card_grid .img_grid img{
    width: 100%;
    height: 100%;
}